<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="grid grid--cards">
  <article class="item-card" th:each="blog : ${blogs}">
    <a class="item-card__media" th:href="|/blog/blogread/${blog.tb_no}|">
      <img th:src="|/uploadImg/blog/${blog.tb_thum}|" alt="blog image">
    </a>
    <div class="item-card__body">
      <h2 class="item-card__title"><a th:href="|/blog/blogread/${blog.tb_no}|" th:text="${blog.tb_title}"></a></h2>
      <div class="item-card__content" th:utext="${blog.tb_content}"></div>
    </div>
  </article>
</div>
</html>


