<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/config :: configFragment"></th:block>
<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<main class="page-shell">
  <section class="page-head">
    <div>
      <p class="page-head__subtitle">Community Feed</p>
      <h1 class="page-head__title">Blog</h1>
    </div>
    <form action="/blog/bloglist" method="post" class="action-row">
      <input class="input u-min-240" type="text" name="keyword" placeholder="게시글 검색">
      <button class="btn btn--secondary" type="submit">검색</button>
      <a class="btn btn--primary" href="/blog/blogwrite">글쓰기</a>
    </form>
  </section>
  <form action="/blog/bloglist" method="post">
    <section class="grid grid--cards">
      <article class="item-card" th:each="blog : ${blogs}">
        <a class="item-card__media" th:href="|/blog/blogread/${blog.tb_no}|">
          <img th:src="|/uploadImg/blog/${blog.tb_thum}|" alt="blog image">
        </a>
        <div class="item-card__body">
          <h2 class="item-card__title"><a th:href="|/blog/blogread/${blog.tb_no}|" th:text="${blog.tb_title}"></a></h2>
          <div class="item-card__content" th:utext="${blog.tb_content}"></div>
        </div>
      </article>
    </section>
    <div class="u-mt-24 u-text-center">
      <input type="hidden" name="pageAdd" value="5">
      <button class="btn btn--secondary" type="submit">더 보기</button>
    </div>
  </form>
</main>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html>


