<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<body>
<main class="page-shell" layout:fragment="content">
  <input type="hidden" id="blogPostNo" th:value="${blog.tb_no}">
  <section class="page-head">
    <div>
      <p class="page-head__subtitle">블로그 글</p>
      <h1 class="page-head__title" th:text="${blog.tb_title}"></h1>
    </div>
    <div class="action-row">
      <a class="btn btn--secondary" href="/blog/bloglist">목록</a>
      <a class="btn btn--primary" th:if="${blog.tb_id.equals(m_id) or m_id.equals('admin')}" th:href="|/blog/blogmod/${blog.tb_no}|">수정</a>
      <button class="btn btn--ghost" type="button" th:if="${blog.tb_id.equals(m_id) or m_id.equals('admin')}" th:attr="data-blog-delete=|/blog/blogdelete/${blog.tb_no}|">삭제</button>
    </div>
  </section>
  <article class="panel article">
    <div class="chip-list u-mb-18">
      <span class="chip" th:text="${blog.tb_id}"></span>
      <span class="chip" th:text="${blog.tb_date}"></span>
    </div>
    <img th:src="|/uploadImg/blog/${blog.tb_thum}|" alt="thumbnail" class="u-radius-md u-mb-18">
    <div th:utext="${blog.tb_content}"></div>
  </article>
  <div id="blogcmt" class="u-mt-24"></div>
  <div id="blogcmtform" class="u-mt-24"></div>
</main>
<th:block layout:fragment="script">
  <script src="/js/pages/blog.js" defer></script>
  <script src="/js/pages/comment.js" defer></script>
  <script src="/js/pages/blog-read.js" defer></script>
</th:block>
</body>
</html>
