

<div>
    <form action="/mypage/addphoto.do" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td width="130px">
                    <span style="font-size:15px; font-color:#808080;">대표 이미지</span><br>
                    <span style="font-size:15px; color:red;">(300 * 300)</span>
                </td>
                <td class="tg-0pky">
                    <input type="file" name="m_thum" multiple="multiple">
                </td>
            </tr>
            <tr><td colspan="2"><hr></td></tr>
            <tr>
                <td colspan="2" style="text-align:right;">
                    <input type="submit" class="btn btn-danger" style="width:100px;" value="제출"/>
        </table>
    </form>
</div>

