<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/config :: configFragment"></th:block>
<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<main class="page-shell">
  <div class="panel">
    <div class="page-head">
      <div>
        <p class="page-head__subtitle">Venue Management</p>
        <h1 class="page-head__title">Update Venue</h1>
      </div>
    </div>
    <form action="/mypage/mypage_update.do" method="post" enctype="multipart/form-data" class="form-grid">
      <input type="hidden" name="p_no" th:value="${dto.p_no}">
      <div class="field">
        <label for="p_pname">구장명</label>
        <input class="input" type="text" id="p_pname" name="p_pname" th:value="${dto.p_pname}" required>
      </div>
      <div class="field field--full">
        <label for="addr">주소</label>
        <input class="input" type="text" id="addr" name="p_place" th:value="${dto.p_place}" required>
      </div>
      <div class="field">
        <label for="p_price">가격</label>
        <input class="input" type="number" id="p_price" name="p_price" th:value="${dto.p_price}" required>
      </div>
      <div class="field">
        <label for="p_max">최대 인원</label>
        <input class="input" type="number" id="p_max" name="p_max" th:value="${dto.p_max}" required>
      </div>
      <div class="field">
        <label for="p_area">지역</label>
        <input class="input" type="text" id="p_area" name="p_area" th:value="${dto.p_area}" required>
      </div>
      <div class="field field--full">
        <span class="check-group__label">옵션</span>
        <div class="check-inline">
          <label class="check"><input type="checkbox" name="p_op1" value="1" th:checked="${dto.p_op1 == '1'}"> 주차</label>
          <label class="check"><input type="checkbox" name="p_op2" value="1" th:checked="${dto.p_op2 == '1'}"> 냉난방</label>
          <label class="check"><input type="checkbox" name="p_op3" value="1" th:checked="${dto.p_op3 == '1'}"> 공 대여</label>
          <label class="check"><input type="checkbox" name="p_op4" value="1" th:checked="${dto.p_op4 == '1'}"> 조끼 대여</label>
          <label class="check"><input type="checkbox" name="p_op5" value="1" th:checked="${dto.p_op5 == '1'}"> 실내화</label>
          <label class="check"><input type="checkbox" name="p_op6" value="1" th:checked="${dto.p_op6 == '1'}"> 샤워실</label>
        </div>
      </div>
      <div class="field field--full">
        <label for="p_explain">상세 설명</label>
        <textarea class="textarea" id="p_explain" name="p_explain" th:text="${dto.p_explain}" required></textarea>
      </div>
      <div class="field field--full">
        <label>현재 이미지</label>
        <div class="thumb-grid">
          <img th:each="image : ${images}" th:src="${image}" alt="venue image">
        </div>
      </div>
      <div class="field field--full">
        <label for="uploadfile">새 이미지 업로드</label>
        <input class="input" type="file" id="uploadfile" name="uploadfile" multiple>
      </div>
      <div class="field field--full action-row">
        <button class="btn btn--primary" type="submit">저장</button>
        <button class="btn btn--secondary" type="button" data-go-back>취소</button>
      </div>
    </form>
  </div>
</main>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/pages/place-form.js" defer></script>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html>


