<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<!-- config -->
<th:block th:replace="fragments/config :: configFragment"></th:block>
<!-- header -->
<th:block th:replace="fragments/header :: headerFragment"></th:block>


<div class="px-4 py-5 my-5 text-center" style="margin: 50px auto ; width : 1000px">
    <h1 style="font-size : 55px">게시글 작성</h1> <br/>
    <form>
        <table style="margin: 20px auto; width:100%">

            <tbody>
            <tr><td colspan="2"><hr></td></tr>
            <tr>
                <td style="font-size : 20px">
                    <span>제목</span>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="글 제목" name="title">
                </td>
            </tr>
            <tr><td colspan="2"><hr></td></tr>
            <tr>
                <td style="font-size : 20px">
                    <span>내용</span>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="내용 서머노트 사용 예정" name="title">
                </td>
            </tr>
            <tr><td colspan="2"><hr></td></tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-secondary" style="float: right">취소</button>
        <button type="button" class="btn btn-danger" style="float: right">등록</button>
    </form>

</div>

<!-- footer -->
<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>