<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<!-- config -->
<th:block th:replace="fragments/config :: configFragment"></th:block>
<link rel="stylesheet" href="/css/login.css">
<div id="wrap">
	<table>
        <tr style="text-align:center;">
            <td style="border-right: solid red 0.5px;">
                <table>
                    <tr>
                        <th colspan="2" style="text-align:center;">아이디 찾기</th>
                    </tr>
                    <tr style="text-align:center;">
                        <td>
                            <input type="radio" name="findId" value="m_email" checked> 이메일로 검색
                        </td>
                        <td>
                            <input type="radio" name="findId" value="m_phone" > 폰번호로 검색
                        </td>
                    </tr>
                    <tr style="text-align:center;">
                        <td colspan="2">
                            <input type="text" id="findValue" size="20" class="loginInput" placeholder="검색어를 입력하세요.">
                        </td>
                    </tr>
                    <tr style="text-align:center;">
                        <td colspan="2">
                            <input type="button" id="btnFindId" value="찾기" class="btn btn-danger">
                        </td>
                    </tr>
                </table>
            </td>
            <td >
                <table>
                    <tr>
                        <th style="text-align:center;" colspan="2" >비밀번호 찾기</th>
                    </tr>
                    <tr style="text-align:center;">
                        <th>
                            아이디 :
                        </th>
                        <td>
                            <input type="text" name="pw_id" id="pw_id" placeholder="아이디를 입력하세요.">
                        </td>

                    </tr>
                    <tr style="text-align:center;">
                        <th>
                            이메일 :
                        </th>
                        <td>
                            <input type="text" name="pw_email" id="pw_email" placeholder="이메일을 입력하세요.">
                        </td>
                    </tr>
                    <tr style="text-align:center;">
                        <td colspan="2">
                            <input type="button" id="btnFindPw" value="찾기" class="btn btn-danger">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<!-- div#wrap -->

<!-- login -->
<script src="/js/login.js"></script>

