<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">


<!-- 부트스트랩 관련 -->
<link  href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="/css/blogcomment.css">

<div id="commentwrap">
    <!-- 댓글 입력 폼-->
    <form action="/cmt/blogcmtwrite" method="post">
        <table id="blogform">
            <tbody>
                <tr>
                    <td class="content">
                        <textarea class="form-control col-sm-12" rows="3" name="c_content"></textarea>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;"colspan="2">
                        <button class="btn btn-primary" style="margin: 5px;">등록</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<!-- div#wrap -->

</html>