<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!--  footer -->
<footer th:fragment="footerFragment">
    <div class="footer">
        <div class="container">
            <div class="col-md-10 offset-md-1">
                <p style="color:#48b8d9">
                    © 2022 All Rights Reserved. Design by <a href="https://html.design/" style="color:#48b8d9"> ucamp36 2team</a>
                    <br><br>
                    Distributed by <a href="https://github.com/seulgae/fmProj" target="_blank"style="color:#48b8d9">Seulgae</a>
                </p>
            </div>
        </div>

    </div>
</footer>
</html>
