<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<!-- config -->
<th:block th:replace="fragments/config :: configFragment"></th:block>
<!-- header -->
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<!-- 폰트 관련-->
<!--<link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">-->

<!-- 서머노트 관련 -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<body>
    <div class="px-4 py-5 my-5 text-center" style="margin: 20px auto ; width : 1000px">
        <form action="/blog/blogwriteaction" method="post" enctype="multipart/form-data">
            <table>
                <thead>
                <tr>
                    <th colspan="2">
                        <span style="font-size: 20px; font-family:
                        'Noto Sans KR', sans-serif; font-weight: bold;">
                        커뮤니티 게시판 |&nbsp;글 작성
                        </span><br>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr><td colspan="2"><hr></td></tr>
                    <tr>
                        <td width="130px">
                            <span style="font-size:15px;">작성자</span>
                        </td>
                        <td style="text-align:left;">
                            <input type="hidden" name="tb_id" th:value="${tb_id}">
                            <span>[[ ${tb_id} ]]</span>
                        </td>
                    </tr>
                    <tr><td colspan="2"><hr></td></tr>
                    <tr>
                        <td width="130px">
                            <span style="font-size:15px;">제목</span>
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="글 제목" name="tb_title">
                        </td>
                    </tr>
                    <tr><td colspan="2"><hr></td></tr>
                    <tr>
                        <td width="130px">
                            <span style="font-size:15px;">내용</span>
                        </td>
                        <td class="tg-0pky">
                            <textarea id="summernote" required="required" name="tb_content"></textarea>
                        </td>
                    </tr>
                    <tr><td colspan="2"><hr></td></tr>
                    <tr>
                        <td width="130px">
                            <span style="font-size:15px; font-color:#808080;">대표 이미지</span><br>
                            <span style="font-size:15px; color:red;">(300 * 300)</span>
                        </td>
                        <td class="tg-0pky">
                            <input type="file" name="tb_thum" multiple="multiple">
                        </td>
                    </tr>
                    <tr><td colspan="2"><hr></td></tr>
                    <tr>
                        <td colspan="2" style="text-align:right;">
                            <input type="submit" class="btn btn-danger" style="width:100px;" value="제출"/>
                            <button type="button" class="btn btn-secondary" style="width:100px;" onClick="history.go(-1)">취소</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
<script>
	$(document).ready(function() {

        $('#summernote').summernote({
             height: 200,
             minHeight: null,
             maxHeight: null,
             lang: "ko-KR",
             placeholder: '내용을 입력해주세요.'
        });
    });
</script>

<!-- footer -->
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</html>