<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<!-- config -->
<th:block th:replace="fragments/config :: configFragment"></th:block>
<!-- header -->
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<link rel="stylesheet" href="/css/bloglist.css">
<div id="wrap">
    <table id="bloglist" class="table table-hover">
        <thead>
        <tr>
            <th>
                <span style="font-size: 18px; font-family:
                'Noto Sans KR', sans-serif; font-weight: bold;">
                커뮤니티 게시판 |&nbsp;전체보기
                </span><br>
            </th>
        <tr>
        </thead>
        <!--th:onclick="|location.href='@{/blog/blogread/${blog.tb_id}}'|"-->
        <tbody>
            <tr th:each="blog : ${blogs}" id="bolglist">
                <td class="text-center" width="250px">
                    <a th:href="|/blog/blogread/${blog.tb_no}|">
                    <img th:src="|/uploadImg/blog/${blog.tb_thum}|" width="200px" height="150px">
                    </a>
                </td>
                <td class="text-left">
                    <a th:href="|/blog/blogread/${blog.tb_no}|">
                        <span class="title" th:text="${blog.tb_title}" style="font-weight:bold; font-size:20px"></span>
                        <span class="content" th:utext="${blog.tb_content}"></span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <form action="/blog/bloglist" method="post">
                <tr>
                    <td colspan="2" class="text-center">
                        <input type="hidden" name="pageAdd" th:value="5">
                        <button class="btn btn-outline-primary btn-block" width="100%">더 보기</button>
                    <td>
                </tr>
            </form>
        </tfoot>
    </table>
    <br>
    <!-- bloglist -->
</div>
<!-- div#wrap -->
<!-- footer -->
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
<!-- div#wrap -->
</html>