<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<!-- config -->
<th:block th:replace="fragments/config :: configFragment"></th:block>
<!-- header -->
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<link rel="stylesheet" href="/css/bloglist.css">

<div id="wrap">
    <table id="bloglist" class="table table-hover">
        <thead>
        <tr>
            <th colspan="3">
                <span style="font-size: 20px; font-family:
                'Noto Sans KR', sans-serif; font-weight: bold;">
                커뮤니티 게시판 |&nbsp;전체보기
                </span><br>
            </th>
        <tr>
        </thead>
        <tbody>
        <tr th:each="blog : ${blogs}">
            <td class="text-center" width="250px">
                <img th:src="|/uploadImg/blog/${blog.tb_thum}|" width="200px" height="150px">
            </td>
            <td class="text-left">
                <span>[[ ${blog.tb_title} ]]</span>
                <p class="content" th:utext="${blog.tb_content}"></p>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="paging-div">
        <ul class="pagination" id="pagination"></ul>
    </div>
</div>
<!-- div#wrap -->

<!-- footer -->
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
<!-- div#wrap -->
</html>