@charset "UTF-8";
@import url(style_Reset.css);

/* 로그인 */
div#wrap{
    width: 1000px;
    margin: 20px auto;
}

div#signin{
    width: 100%;
    height : 500px;
    padding: 20px;
    margin: 150px auto;
}

span.loginlogo{
    font-size: 40px;
    font-weight: bold;
    margin: 25px 10px 0px 0px;
    color: red;
}

span.loginfont{
    font-size: 20px;
    font-weight: bold;
}

div#signin table {
    width: 50%;
    margin: 20px auto;
}

div#signin th, td {
    padding: 10px 13px;
    font-weight: bold;
}
div#signin table>caption {
    font-size: 24px;
    font-weight: bold;
    padding: 30px;
    margin-bottom: 40px;
    position: relative;
}
div#signin caption>h3{
    position: absolute;
    top: 45%;
    left: 41%;
    background: #fff;
    transform: translateY(-50%);
    padding: 10px;
}
div#signin td{
    text-align: center;
}

div#signin input {
    font-size: 20px;
    padding: 15px;
    margin-bottom: 10px;
}
div#signin input.loginInput{
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10px;
    outline: none;
}

div#signin input:hover{
    border: 1px solid #ff0000;
}

/* 로그인 버튼 */
button#loginBtn {
    width: 85%;
    height: 50px;
    background-color: #a0a0a0;
    border: none;
    font-size: 20px;
    border-radius: 3px;
    font-weight: bold;
}

button#loginBtn:hover{
    width: 87%;
    height: 55px;
    opacity: 100%;
    background-color: red;
    border: none;
    color: #fff;
}
/* 로그인 버튼 끝 */

/* 하단 버튼 */
button.buttomBtn{
    width: 85%;
    height: 50px;
    font-size: 15px;
    background-color: #fff;
    border: none;
}

button.buttomBtn:hover{
    font-size: 17px;
    background-color: #fff;
    border: none;
    color: blue;
    font-weight: bold;
}
/* 하단 버튼 끝 */
