.box{
    display: inline-block;
    height:35px;
    border:1px solid #c8c8c8;
    background-color:#646464;
}
h6{
    color: #dcdcdc;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.select-wrap {

  display: inline-block;
  padding: .8em .5em;
  border: 1px solid #999;
  font-family: inherit;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}