<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<style>

</style>

<!-- config -->
<th:block th:replace="fragments/config :: configFragment"></th:block>
<!-- header -->
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<div style="width: 100%; margin: 5% auto; text-align: center;">
	<div id="container" style="display: inline-block; width: 70%; height: 70%;">
		<div class="title" align="left">
			<h3 class="title-name">팀 목록</h3>
			<small>풋살 매니저에 가입된 풋살팀 목록입니다.</small>
		</div>
		<div id="teamRank">
			<div>
				<div style="margin-top: 3%; margin-bottom: 1%;" align="left">
					<button id="cbtn" style="border-radius: 10px; width: 100px;" align="left">팀 생성</button>
					<input type="text" id="searchTeam" placeholder="팀명으로 검색" style="width: 150px; height: 25px; margin-left: 75%;">
				</div>
			</div>
			<div>
				<div>
					<table class="table table-hover" id="teamRankTable" style="text-align: center;">
						<thead style="background-color: #B3E5FC; color: white;">
							<tr>
								<!--<th rowspan="2" style="width:6%;">순 위</th>-->
								<th rowspan="2" style="width: 17%;">팀 명</th>
								<th colspan="4" style="width: 27%;">전 적</th>
								<th rowspan="2" style="width: 17%;">연 고</th>
								<th rowspan="2" style="width: 16%;">연령대</th>
								<th rowspan="2" style="width: 9%;">실 력</th>
								<th rowspan="2" style="width: 25%;">유 형</th>
							</tr>
							<tr>
								<th>경기</th>
								<th>승</th>
								<th>무</th>
								<th>패</th>
							</tr>
						</thead>
						<tbody>
							<tr onclick="location.href='/teammanage/teamdetail'">
								<!--<td>1</td>-->
								<td class="align-left">FS놀자</td>
								<td>12</td>
								<td>5</td>
								<td>5</td>
								<td>2</td>
								<td>기타 지역</td>
								<td>20대 초반 ~ 30대 중반</td>
								<td>하</td>
								<td class="align-left">자유 유형</td>
							</tr>
							<tr onclick="window.location.href='/teamfut52835'">
								<!--<td>2</td>-->
								<td class="align-left">백두범FC</td>
								<td>10</td>
								<td>9</td>
								<td>0</td>
								<td>1</td>
								<td>기타 지역</td>
								<td>20대 초반 ~ 30대 중반</td>
								<td>하</td>
								<td class="align-left">자유 유형</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		$("#cbtn").click(function() {
			window.open('/teammanage/teamcreate', 'pop01', 'top=10, left=10, width=500, height=400, status=no, menubar=no, toolbar=no, resizable=no');
		})
	})
</script>

<!-- footer -->
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</html>
