<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .tmem{
            border: none;
            border-bottom: 1px solid #ddd;
            outline: none;
        }
    </style>
</head>
<body>

<!-- config -->
<th:block th:replace="fragments/config :: configFragment"></th:block>

<div style="width: 100%; margin: 20px auto; text-align: center;">
    <div style="display: inline-block; margin-bottom: 80px;">
    <form id="frmteam" name="frmteam">
        <table>
            <tr>
                <td><span class="loginlogo" style="font-size: 40px; font-weight: bold; margin: 25px 10px 0px 0px; color: red;">FM</span></td>
                <td><span style="font-size: 20px; font-weight: bold;">팀 생성</span></td>
            </tr>
            <tr>
                <td style="font-size: 15px; font-weight: bold;">팀명</td>
                <td><input type="text" class="tmem" name="t_name" size="30" placeholder="팀명을 입력해주세요"/></td>
            </tr>
            <tr>
                <td style="font-size: 15px; font-weight: bold;">연령대</td>
                <td><select name="t_age" style="margin-right: 180px;">
                    <option value="ten">10대</option>
                    <option value="twenty">20대</option>
                    <option value="thirty">30대</option>
                    <option value="etc">그 외</option>
                </select></td>
                <!--<input type="text" class="tmem" name="t_age" size="30" placeholder="ex) 10대,20대..."/>-->
            </tr>
            <tr>
                <td style="font-size: 15px; font-weight: bold;">실력</td>
                <td><input type="text" class="tmem" name="t_skill" size="30" placeholder="ex) 상,중,하..."/></td>
            </tr>
            <tr>
                <td style="font-size: 15px; font-weight: bold;">유형</td>
                <td><input type="text" class="tmem" name="t_kind" size="30" placeholder="ex) 친구모임, 자유..."/></td>
            </tr>
        </table>
        <input type="button" value="등록" id="submitbtn" style="margin-top: 10px; margin-left: 260px; width: 50px;">
        <th:block th:if="${team}"><input type="button" id="sbtn" style="width: 100px; border: 1px solid silver;">팀 수정</input></th:block>
    </form>
    </div>
</div>

<script>
    $(function(){
        $("#submitbtn").click(function() {
            $("#frmteam").attr("action","/teammanage/teamcreate").submit();
            window.opener.location.reload();
            window.close();
        })
        $("#sbtn").click(function() {
            $("#frmteam").attr("action","/teammanage/teamupdate").submit();
            window.opener.location.reload();
            window.close();
        })
    })
</script>

</body>
</html>