<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<!-- header -->
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<!-- config -->
<th:block th:replace="fragments/config :: configFragment"></th:block>

<!-- place.js -->
<script src="/js/place.js"></script>
<body>
<br>
<!-- placeRead css -->
<link rel="stylesheet" href="/css/placeRead.css">
<div id="wrap">
  <input type="hidden" th:value="${place.p_explain}" id="hidden_explain">
  <table id="placeRead">
    <thead>
    <tr>
      <td calss="info_td" style="border-bottom: 1px solid #808080; height: 30px" colspan="7">
        <p style="font-size: 20px; font-family: 'Noto Sans KR', sans-serif; font-weight: bold;">
          예약 가능 구장 &nbsp;|&nbsp; <small>FM그라운드 제휴 구장</small></p>
      </td>
    </tr>

    </thead>
    <tbody>
    <tr>
      <td colspan="7" align="center" style="width:100%; height:300px;">
        <img th:src="${firstImg}" id="mainImg" style="width:100%; height:100%;" />
      </td>
    </tr>
    <tr>
      <td th:each="img : ${arrImg}">
        <a th:href="|javascript:mainImg('${img}')|"><img th:src="${img}" style="width:400px; height:100px;"/></a>
      </td>
    </tr>
    </tbody>
  </table>
  <script>
  function mainImg(img){
    $("#mainImg").attr("src",img);
  }
</script>
  <table id="placeTitle">
    <thead>
    <tr>
      <th style="text-align: left;">
        <h2 th:text="${place.p_pname}"></h2>
      </th>
    </tr>
    <tr>
      <td>
        <span th:text="${place.p_place}"></span>&nbsp;&nbsp;
        <a th:href ="|https://map.naver.com/v5/search/${place.p_place}|" target="_blank" style="color:blue; font-weight:bold;">길찾기</a>
      </td>
  </table>

  <table id="main">
    <tbody>
    <tr>
      <td width="600px">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="guTitle">구장안내</span><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>구장크기 : 40m x 20m</span><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>추가인원 : 6vs6</span><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>구장정보 : 야외 인조잔디</span><br>
      </td>
      <td>
        <table>
          <tbody>
          <tr>
            <td>
              <th:block th:if="${place.p_op1.equals('1')}">
                <img src="/images/placeimg/parking_on.png" name="parking" width="140px" height="140px"/>
              </th:block>
              <th:block th:if="${place.p_op1.equals('0')}">
                <img src="/images/placeimg/parking_on.png" name="parking" width="140px" height="140px" style="opacity : 0.2;"/>
              </th:block>
            </td>
            <td>
              <th:block th:if="${place.p_op2.equals('1')}">
                <img src="/images/placeimg/airconditioning_on.png" width="140px" height="140px"/>
              </th:block>
              <th:block th:if="${place.p_op2.equals('0')}">
                <img src="/images/placeimg/airconditioning_on.png" width="140px" height="140px" style="opacity : 0.2;"/>
              </th:block>
            </td>
            <td>
              <th:block th:if="${place.p_op3.equals('1')}">
                <img src="/images/placeimg/ball_on.png" width="140px" height="140px"/>
              </th:block>
              <th:block th:if="${place.p_op3.equals('0')}">
                <img src="/images/placeimg/ball_on.png" width="140px" height="140px" style="opacity : 0.2;"/>
              </th:block>
            </td>
          </tr>
          <tr>
            <td>
              <th:block th:if="${place.p_op4.equals('1')}">
                <img src="/images/placeimg/vest_on.png" width="140px" height="140px"/>
              </th:block>
              <th:block th:if="${place.p_op4.equals('0')}">
                <img src="/images/placeimg/vest_on.png" width="140px" height="140px" style="opacity : 0.2;"/>
              </th:block>
            </td>
            <td>
              <th:block th:if="${place.p_op5.equals('1')}">
                <img src="/images/placeimg/shoes_on.png" width="140px" height="140px"/>
              </th:block>
              <th:block th:if="${place.p_op5.equals('0')}">
                <img src="/images/placeimg/shoes_on.png" width="140px" height="140px" style="opacity : 0.2;"/>
              </th:block>
            </td>
            <td>
              <th:block th:if="${place.p_op6.equals('1')}">
                <img src="/images/placeimg/shower_on.png" width="140px" height="140px"/>
              </th:block>
              <th:block th:if="${place.p_op6.equals('0')}">
                <img src="/images/placeimg/shower_on.png" width="140px" height="140px" style="opacity : 0.2;"/>
              </th:block>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>

  <form action="/payment/pay_reservation" id="frmReservation" method="post">
    <input type="hidden" id="loginCheck" th:value="${session.m_id}">
    <input type="hidden" id="p_no" name="p_no" th:value="${place.p_no}">
    <input type="hidden" id="time" name="time">
    <table id="payment">
      <tbody>
      <tr>
        <td colspan="5">
          <!-- 만약에 예약 가능한 value 값이 1이라면 예약하지 못하도록 조건문 주기. -->
          <label for="dateSet">예약 가능 날짜 : </label>
          <input type="date" id="dateSet" name="dateSet" onchange="setDate()" th:min="${today}" th:value="${today}"/>
        </td>
      </tr>
      <tr>
        <td colspan="5" align="center">
          <div style="background-color:gray; width:100px; height:20px; display:inline-block; text-align:center">예약 가능</div>
          <div style="background-color:red; width:100px; height:20px; display:inline-block;text-align:center; margin-bottom:5px;">예약 불가</div>
          <div style="background-color:yellow; width:100px; height:20px; display:inline-block;text-align:center; margin-bottom:5px;">현재 선택</div>
        </td>
      </tr>
      <tr align="center">
        <td  id="td_1" style="background-color:gray; border-right:1px solid black;" onclick="selected('1')" >
          12 : 00 ~ 14 : 00
        </td>
        <td  id="td_2"  style="background-color:gray; border-right:1px solid black;" onclick="selected('2')">
          14 : 00 ~ 16 : 00
        </td>
        <td  id="td_3"  style="background-color:gray; border-right:1px solid black;" onclick="selected('3')">
          16 : 00 ~ 18 : 00
        </td>
        <td  id="td_4"  style="background-color:gray; border-right:1px solid black;" onclick="selected('4')">
          18 : 00 ~ 20 : 00
        </td>
        <td  id="td_5"  style="background-color:gray;" onclick="selected('5')">
          20 : 00 ~ 22 : 00
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <h2  style="display:inline-block">총 결제 금액 : </h2><h2 style="display:inline-block" th:text="|${#numbers.formatInteger(place.p_price,3,'COMMA')}원|"></h2>
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <!-- 만약에 예약 가능한 시간이 아니라면 버튼 비활성화하기. -->
          <input type="button" value="예약 신청하기" id="btnReservation" class="paymentBtn">
          <br>
        </td>
      </tr>
      </tbody>
    </table>
  </form>

  <div id="placeContent">
    <table>
      <tbody>
      <tr>
        <td>
          <hr style="width:100%;">
          <h3>이용안내</h3>
        </td>
      </tr>
      <tr>
        <td>
          <div id="div_explain"></div>
        </td>
      </tr>
      <tr>
        <td>
          <hr style="width:100%;">
          <h3>이용규칙</h3>
        </td>
      </tr>
      <tr>
        <td>
            <pre>
■ 풋살장 예약시간 준수

■ 풋살장 내 취사, 흡연 및 음주행위, 지나친 소음행위 금지(적발 시 이용불가)

■ 시설 사용 후 정리정돈 ( 쓰레기 반드시 처리 )

■ 고의 및 과실로 인한 시설물 훼손 및 파손시 사용자가 배상하며 경기중 부상은 본인이 책임집니다.

■ 잔디보호와 부상방지를 위하여 스터드가 있는 축구화(SG, FG, HG, AG)는 착용이 금지되며 풋살화(TF)만 착용 가능 합니다.

■ 실내구장에서는 마스크를 꼭 착용해주셔야합니다. 호흡이 어려운 경우 운동템포와 휴식시간을 조정해주세요.

■ 위 내용이 지켜지지 않을 경우 무환불 퇴장조치 될 수 있으니 예약시 꼭 참고부탁드립니다.

■ 위 내용을 지키지 않아 발생하는 문제는 예약자 본인에기 있습니다.
            </pre>
        </td>
      </tr>
      <tr>
        <td>
          <hr style="width:100%;">
          <h3>환불 규정</h3>
        </td>
      </tr>
      <tr>
        <td>
          <div id="infoBodyRight3" class="col-xs-12 ">
            <div id="payRuleContainer">
              <hr style="width:100%;">
              <h4 style="margin: 30px 0;display: block;">
                ※ 규정 외 요청은 적용이 불가합니다. 예약 전 반드시 확인해 주시기 바랍니다.
              </h4>
              <hr style="width:100%;">
              <pre>■ 환불은 예약 날짜를 기준으로만 적용합니다. (예약 시간으로는 적용되지 않습니다)   <style type="text/css">
   .tg  {border-collapse:collapse;border-spacing:0;margin: -10px 0;}
   .tg td{border-color:black;border-style:solid;border-width:1px;font-size:14px;
      overflow:hidden;padding:10px 5px;word-break:normal;}
   .tg th{border-color:black;border-style:solid;border-width:1px;font-size:14px;
      font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
   .tg .tg-cey4{border-color:inherit;font-size:15px;text-align:left;vertical-align:top;border: none;}
   .tg .tg-60uc{border-color:inherit;font-size:15px;text-align:left;vertical-align:top;border: none;}
   .tg .tg-gmla{border-color:inherit;font-size:15px;text-align:center;vertical-align:top}
   .tg .tg-nej2{background-color:#d6d6d6;border-color:inherit;font-size:15px;font-weight:bold;text-align:center;vertical-align:top}
   </style>
   <table class="tg" style="undefined;table-layout: fixed; width: 600px">
   <colgroup>
   <col style="width: 100px">
   <col style="width: 100px">
   <col style="width: 100px">
   <col style="width: 100px">
   <col style="width: 100px">
   </colgroup>
   <thead>
      <tr>
         <th class="tg-60uc" colspan="5"> 예를들어, <span style="font-weight:bold">5월 7일</span> 예약일 경우 다음과 같습니다</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td class="tg-nej2">이용 당일</td>
         <td class="tg-nej2">이용 1일 전</td>
         <td class="tg-nej2">이용 2일 전</td>
         <td class="tg-nej2">이용 5일 전</td>
         <td class="tg-nej2">이용 10일 전</td>
      </tr>
      <tr>
         <td class="tg-gmla">5월 7일</td>
         <td class="tg-gmla">5월 6일</td>
         <td class="tg-gmla">5월 5일</td>
         <td class="tg-gmla">5월 2일</td>
         <td class="tg-gmla">4월 27일</td>
      </tr>
   </tbody>
   </table>
- 이용 5일 전까지 : 100% 환불
- 4일 전 ~ 3일 전: 50% 환불
- 2일 전 ~ 대관 당일 : 환불 불가

■ 다음과 같은 경우에는 상단 규정대로 처리됩니다.
  ㅇ 고객의 사정으로 예약된 날짜에 구장 이용을 못하는 경우
  ㅇ 구장, 날짜, 시간 등을 실수로 잘못 선택했을 경우
  ㅇ 단순 변심으로 인해 환불이나 변경을 요청하는 경우
</pre>
              <hr style="width:100%;">
              <h3>변경 규정</h3>
              <pre>■ 변경은 상단 환불 규정 기준 100% 환불인 경우에만 가능하며, 변경 가능한 횟수는 1회입니다.

■ 1회 변경된 예약은 환불 및 재변경이 불가능합니다.
</pre>
              <hr>
              <h3>날씨에 의한 환불 및 변경</h3>
              <pre>■ 아래의 환불 및 변경 조건에 해당될 경우 이용 시작 '1시간 전'까지 FM그라운드 카카오톡 채널로 문의 주시면 고객센터 운영 시간에 확인 후 처리해 드리겠습니다.

■ 다음과 같은 경우에는 환불 및 변경 모두 불가능합니다.
ㅇ 이용 시작까지 1시간 이내로 남았을 경우
ㅇ 구장 혹은 FM그라운드 카카오톡 채널에 문의 없이 구장 이용을 하지 않는 경우 ( No-Show )

■ 구장 이용 도중 비가 오기 시작할 경우 환불 및 변경 가능 여부는 구장 관리자가 결정합니다.
<hr><b>[ 환 불 ]</b>

■ 날씨에 의한 환불은 야외구장에만 적용됩니다.

■ 다음과 같을 때는 환불이 가능합니다.
  ㅇ 예약 당일, 기상청에서 천재지변에 해당하는 특보를 예약한 지역에 발표한 경우에 적용
   (특보가 해제된 후에는 적용이 불가능합니다.)
  ㅇ 천재지변 : 호우경보, 대설경보, 태풍주의보, 태풍경보만 적용
  ㅇ 구장 환불규정에 천재지변의 기준이 없을 경우 호우경보, 대설경보, 태풍주의보, 태풍경보만 천재지변으로 적용
<hr><b>[ 변 경 ]</b>

■ 날씨에 의한 변경은 야외구장에만 적용됩니다.

■ 다음과 같을 때는 변경이 가능합니다.
  ㅇ 1시간 강수량이 1mm 이상일 때 ( 신 날씨누리 기준 '~1'은 변경 불가능합니다 )
     ▶ <b><a href="https://www.weather.go.kr/w/weather/forecast/short-term.do" target="_blank">변경 가능 여부 확인하러 가기</a></b>
     ▼ 1) 상단 링크 접속
          2) 동네찾기 - 예약한 구장 주소 설정
          3) 2번 설정 후 예약 일시의 1시간 강수량 확인
  ㅇ <b><a style="color: #38c" href="http://www.iamground.kr/img/asset/rain_rule.jpg" target="_blank">변경 가능 기준 확인 방법 (클릭)</a></b>
               </pre>
            </div>
          </div>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
<!-- div#wrap -->
<br>
<!-- footer -->
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html>