<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucamp.fm.mapper.MemberMapper">

<!--	<insert id="test">-->
<!--			insert into member (m_id) values (#{m_id})-->
<!--	</insert>-->
	
</mapper>