<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucamp.fm.mapper.MemberMapper">

    <insert id="join" parameterType="com.ucamp.fm.dto.MemberDto">
        insert into member(
        m_id,
        m_pw,
        m_name,
        m_phone,
        m_email,
        m_level,
        m_cname,
        m_zip,
        m_addr1,
        m_addr2,
        m_pname,
        m_account,
        m_bank,
        m_sysdate,
        m_check
        )values(
        #{m_id},
        #{m_pw},
        #{m_name},
        #{m_phone},
        #{m_email},
        #{m_level},
        #{m_cname},
        #{m_zip},
        #{m_addr1},
        #{m_addr2},
        #{m_pname},
        #{m_account},
        #{m_bank},
        sysdate,
        '0'
        )
    </insert>

    <insert id="mypage_request" parameterType="com.ucamp.fm.dto.PlaceDto">
        insert into place (
        p_no,
        p_manager,
        p_pname,
        p_place,
        p_explain,
        p_price,
        i_no,
        p_max,
        p_area,
        p_op1,
        p_op2,
        p_op3,
        p_op4,
        p_op5,
        p_op6,
        p_date
        )values(
        PLACE_SEQ.NEXTVAL,
        #{p_manager},
        #{p_pname},
        #{p_place},
        #{p_explain},
        #{p_price},
        #{i_no},
        #{p_max},
        #{p_area},
        #{p_op1},
        #{p_op2},
        #{p_op3},
        #{p_op4},
        #{p_op5},
        #{p_op6},
        sysdate
        )
    </insert>


    <update id="mypage_update_do" parameterType="com.ucamp.fm.dto.PlaceDto">
        update place SET
        p_pname=#{p_pname},
        p_place=#{p_place},
        p_explain=#{p_explain},
        p_price=#{p_price},
        i_no=#{i_no},
        p_max=#{p_max},
        p_area=#{p_area},
        p_op1=#{p_op1},
        p_op2=#{p_op2},
        p_op3=#{p_op3},
        p_op4=#{p_op4},
        p_op5=#{p_op5},
        p_op6=#{p_op6},
        p_date=sysdate
        where p_no=#{p_no}
    </update>

    <update id="Information_update_do" parameterType="com.ucamp.fm.dto.MemberDto">
        update member SET
        m_pw=#{m_pw},
        m_name=#{m_name},
        m_phone=#{m_phone},
        m_email=#{m_email},
        m_cname=#{m_cname},
        m_zip=#{m_zip},
        m_addr1=#{m_addr1},
        m_addr2=#{m_addr2},
        m_pname=#{m_pname},
        m_bank=#{m_bank},
        m_account=#{m_account}
        where m_id=#{m_id}
    </update>


</mapper>