<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucamp.fm.pay.mapper.PaymentMapper">
    <insert id="insertReservation" parameterType="com.ucamp.fm.pay.dto.ReservationDto">
        insert into reservation values(
        reservation_seq.NEXTVAL,
        #{r_m_id},
        #{r_p_no},
        #{r_time},
        #{r_date},
        sysdate
        )
    </insert>

    <select id="selectPageing" parameterType="map"
            resultType="com.ucamp.fm.mypage.dto.PlaceDto">
        select * from (
            select
                row_number() over (order by place_list.p_no desc) as rn,
                place_list.*
            from (
                select
                    p.*,
                    coalesce(r.reserved_count, 0) as reservedCount
                from place p
                left join (
                    select r_p_no, count(*) as reserved_count
                    from reservation
                    group by r_p_no
                ) r on p.p_no = r.r_p_no
                <where>
                    <if test="keyword != null and keyword != ''">
                        (
                            p.p_pname like '%'||#{keyword}||'%'
                            or p.p_place like '%'||#{keyword}||'%'
                            or p.p_explain like '%'||#{keyword}||'%'
                        )
                    </if>
                    <if test="region != null and region != ''">
                        and p.p_place like '%'||#{region}||'%'
                    </if>
                    <if test="book != null and book != ''">
                        and p.p_book = #{book}
                    </if>
                </where>
            ) place_list
        )
        where rn <![CDATA[ <= ]]> #{pageNum}
    </select>
</mapper>
